<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:blogComments="http://typo3.org/ns/Zeroseven/Z7BlogComments/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/core/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="blgcmnt{f:if(condition:level, then:'--reply-{level}')}" id="comment-{comment.uid}">
	<f:comment><!-- Render author data --></f:comment>
	<div class="blgcmnt__data">
		<f:if condition="{comment.name}">
			<span class="blgcmnt__name">{comment.name}</span>
		</f:if>
		<f:if condition="{comment.url}">
			<f:link.external uri="{comment.url}" class="blgcmnt__url" rel="external" target="_blank">{comment.url}</f:link.external>
		</f:if>
	</div>

	<f:comment><!-- Comment text --></f:comment>
	<div class="blgcmnt__content">
		<f:if condition="{comment.text}">
			<blogComments:language.wrap class="blgcmnt__text" languageCode="{comment.languageCode}" tagName="p">
				{comment.text -> f:format.nl2br()}
			</blogComments:language.wrap>

			<blogComments:translate.google languageCode="{comment.languageCode}" text="{comment.text}" class="blgcmnt__translate" title="{f:translate(key:'comment.translate', extensionName: 'z7_blog_comments')}">
				<core:icon identifier="actions-translate" />
			</blogComments:translate.google>

			<a href="#" onclick="Zeroseven.Blog.reply('#blogCommentForm--parent', '{comment.uid}', true)" title="Reply to {comment.name}">Reply</a>
		</f:if>
	</div>
</div>

<f:comment><!-- Render children --></f:comment>
<f:if condition="{comment.children}">
	<f:for each="{comment.children}" as="comment">

		<f:variable name="currentLevel" value="{f:if(condition:level, then:level, else: 0)}" />
		<f:variable name="nextLevel" value="{currentLevel + 1}" />

		{f:render(partial: 'Comment/Item.html', arguments: '{comment:comment, level:nextLevel}')}
	</f:for>
</f:if>
</html>
