{namespace formvh=TYPO3\CMS\Form\ViewHelpers}
{namespace blogComments=Zeroseven\Z7BlogComments\ViewHelpers}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="format-detection" content="telephone=no">
</head>
<body>
<table width="600" cellpadding="0" cellspacing="0" border="0">
	<formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">
		<tr>
			<f:if condition="{formValue.isSection}">
				<f:then>
					<td colspan="2"><b>{formvh:translateElementProperty(element: formValue.element, property: 'label')}</b></td>
				</f:then>
				<f:else>
					<td width="600" valign="top" align="left">{formvh:translateElementProperty(element: formValue.element, property: 'label')}</td>
					<td width="600" valign="top" align="left">
						<f:if condition="{formValue.value}">
							<f:then>
								<f:if condition="{formValue.isMultiValue}">
									<f:then>
										<table cellspacing="0" border="0">
											<f:for each="{formValue.processedValue}" as="value">
												<tr>
													<td>{value}</td>
												</tr>
											</f:for>
										</table>
									</f:then>
									<f:else>
										<table cellspacing="0" border="0">
											<tr>
												<td><f:format.nl2br>{formValue.processedValue}</f:format.nl2br></td>
											</tr>
										</table>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								-
							</f:else>
						</f:if>
					</td>
				</f:else>
			</f:if>
		</tr>
	</formvh:renderAllFormValues>
</table>

<f:comment><!-- The template above is a copy of template EXT:form/Resources/Private/Frontend/Templates/Finishers/Email/Html.html --></f:comment>
<hr />

<p>
	<strong>{f:translate(key: 'EmailToReceiver.control.description', extensionName: 'z7_blog_comments')}</strong>
</p>
<p>
	<a style="display:inline-block;text-decoration:none;border-radius:0.2em;padding:0.3em 1em;color:#fff;background:#2ecc71;" href="{blogComments:uri.enable(comment:finisherVariableProvider.Z7BlogComments.comment)}" target="_blank">
		{f:translate(key: 'EmailToReceiver.control.enable', extensionName: 'z7_blog_comments')}
	</a>
	<a style="display:inline-block;text-decoration:none;border-radius:0.2em;padding:0.3em 1em;color:#fff;background:#e67e22;" href="{blogComments:uri.reject(comment:finisherVariableProvider.Z7BlogComments.comment)}" target="_blank">
		{f:translate(key: 'EmailToReceiver.control.reject', extensionName: 'z7_blog_comments')}
	</a>
	<a style="display:inline-block;text-decoration:none;border-radius:0.2em;padding:0.3em 1em;color:#fff;background:#c0392b;" href="{blogComments:uri.delete(comment:finisherVariableProvider.Z7BlogComments.comment)}" target="_blank">
		{f:translate(key: 'EmailToReceiver.control.delete', extensionName: 'z7_blog_comments')}
	</a>
</p>

<hr />

<p>
	<a style="text-decoration:none;color:blue" href="https://translate.google.de/#view=home&op=translate&sl=auto&tl=de&text={finisherVariableProvider.Z7BlogComments.comment.comment -> f:format.urlencode()}">
		Translate comment with Google
	</a>
</p>

<f:comment><!-- The template below is a copy of template EXT:form/Resources/Private/Frontend/Templates/Finishers/Email/Html.html --></f:comment>

</body>
</html>
