$pending-comments-animation-duration: 0.3s;
$pending-comments-animation-delay: $pending-comments-animation-duration;
$pending-comments-visible-items: 3;

.pndngcmnt {
    padding: 1px 0;
}

.pndngcmnt__item {
    margin: 10px 0;
    padding: 10px 0 0;
    border-top: 1px solid #d7d7d7;

    // Add clear
    &:after {
        content: '';
        display: table;
        clear: both;
    }

    // Special styles for the first child
    &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }

    // Show first 3 results only
    display:none;

    &:nth-child(-n+#{$pending-comments-visible-items}){
        display:block;
    }

    // Animate the new comming result
    @supports (animation-fill-mode: forwards) {
        &:nth-child(#{$pending-comments-visible-items}){
            animation: pending-comment-item $pending-comments-animation-duration ease-out $pending-comments-animation-delay;
            animation-fill-mode: forwards;
            opacity: 0;
        }
    }

    @at-root {
        @keyframes pending-comment-item {
            0% { transform: translateY(50px); opacity: 0; }
            100% { transform: translateY(0); opacity: 1; }
        }
    }
}

.pndngcmnt__text {
    margin: 0 0 0.5em;
}

.pndngcmnt__languge,
.pndngcmnt__author,
.pndngcmnt__date {
    font-size: 0.8em;
    float: left;
    padding: 8px 6px 0 0;
}

.pndngcmnt__author,
.pndngcmnt__date {
    opacity: 0.5;
}

.pndngcmnt__control--enable,
.pndngcmnt__control--reject,
.pndngcmnt__control--delete {
    float: right;
    padding: 4px;
    border: 1px solid #fff;
    border-radius: 3px;

    &:hover {
        border-color: #ff8700;
    }
}

.pndngcmnt__success {
    text-align: center;
    font-size: 2em;

    // Show if no previous item
    .pndngcmnt__item + & {
        display: none;
    }
}
