<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:blog="http://typo3.org/ns/Zeroseven/Z7Blog/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
	<h1>FORM</h1>

	<div class="blgcmtfrm">
		<f:comment><!-- Load by cObject because '<formvh:render persistenceIdentifier="{settings.persistenceIdentifier}" />' is not working correctly in TYPO3 9 --></f:comment>
		{f:cObject(typoscriptObjectPath:'lib.Z7BlogCommentsForm')}
	</div>
</html>
